<div class="c_chart-container">
	<h2>Temperature</h2>
	<canvas class="c_chart" id="temperatureChart" height="400" width="1500"></canvas>

	<h2>Humidity</h2>
	<canvas class="c_chart" id="humidityChart" height="400" width="1500"></canvas>
</div>
